<div class="header-container d-flex justify-content-between">
<div class="header-brand-container d-flex">
    <div class="header-brand-name">
        PayBridge <img class="dropdown" src="\assets\header-icons\chevron-down.svg" alt="" />
      </div>

      <div class="company-name">Company name</div>
</div>
  <div class="header-buttons d-flex align-items-center">
    <div class="quick-actions"><button>Quick actions</button></div>
    <div class="first-icon cursor-pointer">
      <img src="\assets\header-icons\notification.svg" alt="" />
    </div>
    <div class="second-icon cursor-pointer">
      <img src="\assets\header-icons\Icon.svg" alt="" />
    </div>
  </div>
</div>
