<div class="sidebar" *ngIf="isSidebarOpen">
  <div class="sidebar-container d-flex flex-column">
    <div
      class="sidebar-header d-flex justify-content-between align-items-center"
    >
      <div class="sidebar-brand-name">PayBridge</div>
      <div class="sidebar-close-button" (click)="toggleSidebar()">
        <img src="\assets\sidebar icons\chevrons-left.svg" alt="" />
      </div>
    </div>
    <div class="sidebar-menu d-flex flex-column">
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\home.svg" alt="" />
        </div>
        <div class="sidebar-menu-name active">Home</div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\briefcase.svg" alt="" />
        </div>
        <div class="sidebar-menu-name">Disbursements</div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\users.svg" alt="" />
        </div>
        <div class="sidebar-menu-name">Transfers</div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\list.svg" alt="" />
        </div>
        <div class="sidebar-menu-name"></div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\coin-stack.svg" alt="" />
        </div>
        <div class="sidebar-menu-name"></div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\users.svg" alt="" />
        </div>
        <div class="sidebar-menu-name"></div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\bar-chart.svg" alt="" />
        </div>
        <div class="sidebar-menu-name"></div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\bar-chart.svg" alt="" />
        </div>
        <div class="sidebar-menu-name"></div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\trending-up.svg" alt="" />
        </div>
        <div class="sidebar-menu-name"></div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\award.svg" alt="" />
        </div>
        <div class="sidebar-menu-name"></div>
      </div>
      <div class="sidebar-menu-item d-flex align-items-center">
        <div class="sidebar-menu-icon d-flex">
          <img src="\assets\sidebar icons\settings.svg" alt="" />
        </div>
        <div class="sidebar-menu-name"></div>
      </div>
    </div>
  </div>
</div>
